

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: Arial, sans-serif;
    background-color: var(--colorlight);
    color: var(--colordark);
}

.contenedor_infografia {
    display: block;
    padding: var(--paddingDisc);
    /* background-color: var(--colorlight); */
}

h1 {
    text-align: center;
    color: var(--colorBlueLetra);
    margin: 20px 0;
}

.section {
    width: 80%;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid var(--colordark);
    border-radius: 8px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    flex-direction: column;
    margin: 5px;
    justify-content: space-between;
}

.section:hover {
    background-color: white;
}

h2 {
    color: var(--colorAzul);
    margin-bottom: 10px;
}

p {
    line-height: 1.6;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

ul {
    margin-left: 20px;
    list-style: disc;
}

ul li {
    margin-bottom: 10px;
}

.highlight {
    background-color: var(--colorPink);
    color: var(--colorTextWhite);
    padding: 10px;
    border-radius: 4px;
    font-weight: bold;
    height: min-content;
    margin: 15px 0;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: var(--colordark);
    color: var(--colorTextWhite);
    font-size: 0.9em;
    position: relative;
    width: 100%;
}
